---
layout: base.html
title: Experience
desc: Over the last 8 years, I've worked on projects large and small, as a freelancer, a design team of one, part of an agile engineering team, and leading design at a startup.
---
<main class="experience accent-bg">
    <section class="container lg gap-2" id="experience">
        <div class="header pt-3 pb-1">
            <h1 class="col-12">{{ title }}</h1>
            <p class="col-12 md-8">{{desc}}</p>
            <hr class="col-12 divider">
        </div>
        <div id="timeline" class="col-12">
            {%- if experience -%}
            {%- for exp in experience -%}
            {%- assign index = forloop.index | minus: 1 | modulo: 7 -%}
            <div class="timeline-item container gap-0 position-relative">
                <div class="sample timeline-content d-flex">
                {%- if exp.sample -%}
                {%- assign item = collections.allWork | findWork: exp.sample -%}
                <figure class="card col-12 sample-item ">
                    <a class="card-image " href="{{ item.data.page.url}}" >
                        <img src="{{ item.data.page.url}}{{ item.data.image.name | replace: '.webp', '-sm.webp'}}" class="img-responsive "
                              alt="Cover photo for the '{{ item.data.title}}' project" />
                    </a>
                    <figcaption class="d-flex py-1 gap-1">
                            <small class="col text-bold accent-heading">{{ item.data.title}}</small>
                            <small > {{ item.date | ISODate | date: "%b %Y"}}</small>
                    </figcaption>
                </figure>
                {%- endif -%}
            </div>
                <div class="timeline-icon ">
                    <i class="fa fa-certificate fa-2x text-{{site.colors[index]}}" aria-label="hidden"></i>
                    <span class="timeline-border"></span>
                </div>
                <div class="timeline-content col txt-col">
                    <p class="info date h5 mb-1 d-inline-block">
                        {{ exp.timeperiod }} | <span class="info">{{ exp.company }}</span></p>
                    <h3 class="d-block">{{ exp.title }}</h3>
                    {%- if exp.description -%}
                    <p class="description text-small">{{ exp.description }}</p>
                    {%- endif -%}
                    {%- if exp.highlights -%}
                    <ul>
                        {%- for h in exp.highlights -%}
                        <li class="highlight text-small">{{ h }}</li>
                        {%- endfor -%}
                    </ul>
                    {%- endif -%}
                </div>
            </div>
            {%- endfor -%}
            {%- endif -%}
        </div>

    </section>


</main>
<script>

</script>